<!doctype html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Рекорды</title>


	  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	  <link href="{{ url_for('static', filename="css/sudoku_style.css") }}" rel="stylesheet">

    <style>

    </style>
    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename="css/carousel.css") }}" rel="stylesheet">
  </head>

  <header style="height: 150px">
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-primary">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto" style="margin: auto">
          <li class="nav-pills">
              <a class="nav-link active" href="https://github.com/AlexandrovRoman/Sudoku-PyQT5/" target="_blank">Source<span class="sr-only">(current)</span></a>
          </li>
            <li class="nav-item dropdown">
                <a class="nav-link disabled dropdown-toggle" href="" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Habr</a>
                <div class="dropdown-menu" aria-labelledby="dropdown01">
                    <a class="dropdown-item" href="" target="_blank">Part 1: Interface</a>
                    <a class="dropdown-item" href="" target="_blank">Part 2: Client</a>
                    <a class="dropdown-item" href="" target="_blank">Part 3: Server</a>
                </div>
            </li>
      </ul>
    </div>
  </nav>
</header>
  <body>
  <main role="main" style="height: 150px">
	  <div class="mobileTable">
		<table class="cwdtable" cellspacing="0" cellpadding="1" border="1">
			<thead>
				<tr>
                    <th style="width: 10%">Место</th>
					<th>Nickname</th>
					<th>Time</th>
				</tr>
			</thead>
			<tbody>
                {% for item in records %}
				<tr>
                    <td>{{ loop.index }}</td>
					<td>{{item["nick"]}}</td>
					<td>{{item["time"]}}</td>
				</tr>
            {% endfor %}
			</tbody>
		</table>
	  </div>
  </main>
   <footer class="container">
       <p class="float-right">&copy; <a href="https://github.com/AlexandrovRoman/" target="_blank">Alexandrov Roman</a></p>
  </footer>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>